@model albama.Models.Employee

    <tr>
        <td>@Model.FristName</td>
        <td>@Model.LastName</td>
        <td>@Model.Gender</td>
        <td>@(Model.Fried?"是":"")</td>
        <td>
            @if(!Model.Fried)
            {
            <a asp-action="Fire" asp-route-employeeId="@Model.Id">Fire</a>
            }
        </td>
    </tr>